.schedule {
  @include regular-text();
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  // regular headers (Monday, Tuesday...)
  &__header-col1,
  &__header-col2,
  &__header-col3,
  &__header-col4 {
    @include emphasized-text();
    font-size: large;
    text-align: left;
    display: block;
  }

  // schedule titles (Morning Session 1, Afternoon Session 1...)
  &__title {
    @include emphasized-text();
    font-size: medium;
    //font-weight: 200;
    display: block;
  }

  

  /* for any h3 within .schedule */

  &__session {
    display: flex;
    flex-direction: row;
    width: 100%;

    // very important if we want it to occupy all the width
    flex-wrap: wrap;
    min-height: 5rem;

    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: lighten($primary-color, 10%);

    &__title {
      
      width: 100%;
      font-weight: 700;
      color: $secondary-color;     
      text-align: center;

      align-self: flex-start;
    }

    &__time {

      width: 100%;
      font-weight: 700;     
      text-align: center;
      align-self: flex-end;      
    }
  }

  @media only screen and (min-width: $sm) {
    @include regular-text();
    width: 100%;
    display: grid;
    grid-template:
      "header-col1 header-col2  header-col3  header-col4"
      "content-row1-col1 content-row1-col2 content-row1-col3 content-row1-col4"
      "content-row2-col1 content-row2-col2 content-row2-col3 content-row2-col4"
      "content-row3-col1 content-row3-col2 content-row3-col3 content-row3-col4"
      "content-row4-col1 content-row4-col2 content-row4-col3 content-row4-col4";
    // fixed column width
    grid-template-columns: repeat(4, 1fr);
   

    &__header-col1 {
      text-align: center;
      grid-area: header-col1;
    }
    &__header-col2 {
      text-align: center;
      grid-area: header-col2;
    }
    &__header-col3 {
      text-align: center;
      grid-area: header-col3;
    }
    &__header-col4 {
      text-align: center;
      grid-area: header-col4;
    }

    &__content-row1-col1 {
      grid-area: content-row1-col1;
    }
    &__content-row2-col1 {
      grid-area: content-row2-col1;
    }
    &__content-row3-col1 {
      grid-area: content-row3-col1;
    }
    &__content-row4-col1 {
      grid-area: content-row4-col1;
    }

    &__content-row1-col2 {
      grid-area: content-row1-col2;
    }
    &__content-row2-col2 {
      grid-area: content-row2-col2;
    }
    &__content-row3-col2 {
      grid-area: content-row3-col2;
    }
    &__content-row4-col2 {
      grid-area: content-row4-col2;
    }

    &__content-row1-col3 {
      grid-area: content-row1-col3;
    }
    &__content-row2-col3 {
      grid-area: content-row2-col3;
    }
    &__content-row3-col3 {
      grid-area: content-row3-col3;
    }
    &__content-row4-col3 {
      grid-area: content-row4-col3;
    }

    &__content-row1-col4 {
      grid-area: content-row1-col4;
    }
    &__content-row2-col4 {
      grid-area: content-row2-col4;
    }
    &__content-row3-col4 {
      grid-area: content-row3-col4;
    }
    &__content-row4-col4 {
      grid-area: content-row4-col4;
    }

    // don't display the schedule titles added only for the xs viewport
    &__title{
      display: none;
    }   
  }
}
