body {
  //@include text($family: $font-regular, $size: large, $lineHeight: null, $weight: 400);
  @include regular-text();
  // flex-direction: row;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  .side-empty-column {
    flex-grow: 1; // grow to fill empty space
    // background-color: $primary-color;
  }

  .master {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    flex-shrink: 0;
    width:60%;

    /* Hide columns on screens with aspect ratio less than 3/2 */
    @media screen and (max-aspect-ratio: 1.5) {
      width: 100%;
    }
  }
}
