.footer {
  background-color: $tertiary-color;

 
  color: lighten($secondary-color, 40%) ;

  @include text(
    $family: $font-regular,
    // $color: lighten($secondary-color, 40%),
    $size: large,
    $lineHeight: null,
    $weight: 400
  );

  &__icons {
    position: relative;
    padding: 1rem;
    li:last-of-type {
      margin-right: 0;
    }
    &__wrapper {
      list-style: none;
      display: flex;
      margin: 0;
      align-items: center;
      width: 100%;
    
      a {
        font-size: 1.3rem;
        color: $secondary-color;
    
        /*
        &:hover {
          color: darken($secondary-color, 25%);
          transition: color 0.3s ease-in;
        } */
      }
    
      li {
        margin-right: 1rem;
      }
    }
  }

  &__version {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    // color: lighten($secondary-color, 40%);
  }

  &__background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    flex-wrap:wrap;
    

    // padding: 1rem;
  }

  &__logo {
    position: relative;
    height: 100%;
    padding: 1rem;
    
    &__text {
      display:inline-block;
      font-family: $font-navigation;
      font-weight: 300; // normal ; // or from 100 to 900
      font-size: 1.7rem;
      // color: lighten($secondary-color, 40%);
    }

    &__image{
      // background-image:  url('../images/js-logo.svg') ; // url("../images/logo_vinci.png"); //     
      display: inline-block;
      min-height: 5vh;  
      min-width: 5vw;//width: auto;    
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: left center, right center;
      background-size: contain;
      margin-left: 1rem;
    }

    &__image2{
      //background-color: white;
      // background-image:  url('../images/node-white.svg') ; // url("../images/logo_vinci.png"); //     
      display: inline-block;
      min-height: 5vh;  
      min-width: 10vw;//width: auto;    
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center,;
      background-size: contain;
      margin-left: 1rem;
    }
  }

  // the modifiers shall be done at the end so that this footer--light.a 
  // can override the a in the footer__icons__wrapper

  &--light {
    background-color: $primary-color;
    color: $tertiary-color;
  }

  &--light a {
  
      color: $tertiary-color; 
   
  }


}
